{
  "apiUrl": "https://api.example.com",
  "secondaryApiUrl": "https://catalog.example.com",
  "keycloakUrl": "https://iam.example.com",
  "keycloakRealm": "techgen",
  "keycloakClientId": "frontend-sample",
  "menuAppUrl": "https://menu.example.com",
  "appName": "Frontend Sample"
}
